<!-- <div class="back-image"> -->
<div class="container">
  <div fxLayoutAlign="center center" cdkDrag>
    <mat-card class="box">
      <div style="text-align: center">
        <mat-card-title> Sign Up </mat-card-title>
      </div>
      <!-- <form  #f="ngForm" (ngSubmit)="addnewuser(f)"> -->

      <div class="form-group">
        <form
          class="content"
          #f="ngForm"
          [formGroup]="addUserForm"
          (submit)="addnewuser(f)"
        >
          <mat-card-content>
            <div class="form-group">
              <div class="col" style="text-align: center">
                <!-- <mat-grid-list cols="3" rowHeight="5:1"> -->
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      formControlName="email"
                      class="form-input-field"
                    />
                    <div
                      *ngIf="
                        (addUserForm.controls['email'] &&
                          addUserForm.controls['email'].invalid &&
                          addUserForm.controls['email'].touched) ||
                        addUserForm.controls['email'].dirty
                      "
                    >
                      <small
                        *ngIf="addUserForm.controls['email'].errors?.['required']"
                        class="text-danger"
                      >
                        Email is required</small
                      >
                      <small
                        *ngIf="
                          addUserForm.controls['email'].hasError('pattern')
                        "
                        class="text-danger"
                        >Please provide a valid email address</small
                      >
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div style="text-align: center">
              <mat-form-field appearance="outline">
                <mat-label> First Name</mat-label>
                <input
                  matInput
                  placeholder="FirstName"
                  formControlName="firstName"
                  required
                />
              </mat-form-field>
            </div>
            <div style="text-align: center">
              <mat-form-field appearance="outline">
                <mat-label> Last Name</mat-label>
                <input
                  matInput
                  placeholder="LastName"
                  formControlName="lastName"
                  required
                />
              </mat-form-field>
            </div>
            <!-- </mat-grid-title></mat-grid-list -->

            <!-- <div class="col-lg-3"> -->
            <div style="text-align: center">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="address"
                  required
                />
              </mat-form-field>
              <!-- </div> -->
              <div style="text-align: center">
                <label>Gender: </label><br />
                <mat-radio-group formControlName="gender" id="gender" required>
                  <mat-radio-button value="male" class="form-contorl"
                    >Male</mat-radio-button
                  >
                  <mat-radio-button value="female" class="form-contorl"
                    >Female</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <br />
              <div style="text-align: center">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>

                  <input
                    matInput
                    name="password"
                    placeholder="Enter Password"
                    type="password"
                    formControlName="password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,20}$"
                    [type]="hide1 ? 'password' : 'text'"
                  />
                  <mat-icon matSuffix (click)="hide1 = !hide1">{{
                    hide1 ? "visibility_off" : "visibility"
                  }}</mat-icon>

                  <div
                    *ngIf="
                      (addUserForm.controls['password'] &&
                        addUserForm.controls['password'].invalid &&
                        addUserForm.controls['password'].touched) ||
                      addUserForm.controls['password'].dirty
                    "
                  >
                    <small
                      *ngIf="addUserForm.controls['password'].errors?.['required']"
                      class="text-danger"
                    >
                      Password is required</small
                    >
                    <small
                      *ngIf="
                        addUserForm.controls['password'].hasError('pattern')
                      "
                      class="text-danger"
                    >
                      Use 8 or more characters with a mix of letters, numbers &
                      symbols.</small
                    >
                  </div>
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  placeholder="Enter the same password"
                  name="confirmPassword"
                  type="password"
                  formControlName="confirmPassword"
                  required
                  [type]="hide2 ? 'confirmPassword' : 'text'"
                />
                <mat-icon matSuffix (click)="hide2 = !hide2">{{
                  hide2 ? "visibility_off" : "visibility"
                }}</mat-icon>
                <div
                  *ngIf="
                    (addUserForm.controls['confirmPassword'] &&
                      addUserForm.controls['confirmPassword'].invalid &&
                      addUserForm.controls['confirmPassword'].touched) ||
                    addUserForm.controls['confirmPassword'].dirty
                  "
                >
                  <small
                    *ngIf="addUserForm.controls['confirmPassword'].errors?.['required']"
                    class="text-danger"
                  >
                    Password is required</small
                  >
                  <small
                    *ngIf="
                      addUserForm.controls['confirmPassword'].hasError(
                        'confirmedValidator'
                      )
                    "
                    class="text-danger"
                  >
                    Password doesn't match</small
                  >
                </div>
              </mat-form-field>

              <br />
              <div class="wrapper">
                <button mat-stroke-button color="primary" [disabled]="!f.valid">
                  Add User
                </button>

                <button mat-stroked-button (click)="gotoSignIn()">
                  Go to Sign In
                </button>
              </div>
            </div>
          </mat-card-content>
        </form>
      </div>
    </mat-card>
  </div>
</div>
