.spacer {
  flex: 1 1 auto;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.content-body {
  min-height: 100%;
  padding: 100px 1rem;
  background: #aedbd5;
  display: block;
}
.btn-block {
  width: auto;
  padding: 6px 50px 4px 50px;
  transform: scale(1);
}
.example-container .mat-form-field +.mat-form-field+.mat-form-field{
  margin-left: 16px;
}
